.message-section {
  background-color: pink;
}

.navbar-default {
  background: none;
  border: none;
}

.navbar {
  margin-bottom: 0;
}

 @media (min-width: 768px) {
   .main-row {
     min-height: 100%;
     display: flex;
   }

   .sidenav {
     background-color: purple;
     display: flex;
     flex-direction: column;
   }

   .message-section {
     display: flex;
     flex-direction: column;
   }

   .navbar-default {
     position: fixed;
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
     width: inherit;
     overflow-y: scroll;
   }
 }

 @media (max-width: 767px) {
   .main {
    background-color: pink;
   }

   .sidenav {
     background-color: purple;
   }
 }
