#message-bar {
  background-color: rgba(209, 179, 179, 0.79);
  position: fixed;
  bottom: 0;
  right: 0;
  height: 5rem;
  z-index: 1;
  padding-top: 1rem;
}

.message-list-bar, #message-bar {
  width: inherit;
}

.message-list {
  padding-bottom: 6rem;
}

.message-list ul {
  padding: 0;
}

.message-list li {
  list-style: none;
}

.message-list p {
  display: inline;
  font-size: 1.5rem;
}

.fa-wrench.edit-msg {
  float: left;
  padding-right: 1rem;
  font-size: 1.25rem;
}

.fa-wrench.edit-msg:hover {
  cursor: pointer;
}

.no-edit-msg {
  display: inline-block;
  width: 2.25rem;
}

@media (max-width: 767px) {
  .message-list {
    padding-top: 7rem;
  }
}
