@import url('https://fonts.googleapis.com/css?family=Raleway:700');

.active-room {
  font-family: "Raleway", sans-serif;
  color: #a79292;
  font-size: 3rem;
}

.room-list, .room-list ul, .room-section {
  padding: 0;
}

.room-list li {
  list-style: none;
}

.room-title {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
  vertical-align: middle;
}

.room-title:hover {
  cursor: pointer;
  color: #c7a3bc;
}

.room-options {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border: none;
  background: none;
}

.no-options {
  display: inline-block;
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.room-block, .room-edit {
  margin-bottom: 1rem;
}

.fa-check {
  color: #21ce63;
}

.fa-times {
  color: #e04028
}

.room-transition-enter {
  color: #a79292;
}

.room-transition-enter.room-transition-enter-active {
  color: #16020d;;
  transition: color 500ms ease-in;
}

.room-transition-exit {
  opacity: 1;
}

.room-transition-exit.room-transition-exit.active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
