@media (min-width: 768px) {
  .login-section {
    clear: both;
  }
  
  .login-section h6:hover {
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .login-section {
    text-align: right;
  }
}
