html, body, #root, .container-fluid {
  height: 100%;
}

body::-webkit-scrollbar, .navbar::-webkit-scrollbar-track  {
  background-color: #f9fbfc;
}

body::-webkit-scrollbar-thumb {
  background-color: #5e5e5e;
}
